{{!-- <html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }
    </style>
</head>

<body>

    <div class="vertical-nav">
        <br>
        <h5 class="sortby">Sort By:</h5>
        <form class="radio-btn" action="#">
            <p>
                <label>
                    <input class="with-gap" name="group3" id="newest-post" type="radio" checked />
                    <span>Newest to Oldest</span>
                </label>
            </p>
            <p>
                <label>
                    <input class="with-gap" name="group3" id="vote-count" type="radio" />
                    <span>Most Popular</span>
                </label>
            </p>

        </form>
    </div>

</body>

</html> --}}