<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
            font-family: "Lato", sans-serif;
        }
    </style>
</head>

<body>

    <div class="vertical-nav">
        <br>
        <h5>Sort By:</h5>
        <form class="radio-btn" action="#">
            <p>
                <label for="newest-post">
                    <input class="with-gap" checked id="newest-post" data-sort="newest" type="radio" />
                    <span>Newest to Oldest</span>
                </label>
            </p>
            <p>
                <label for="vote-count">
                    <input class="with-gap" id="vote-count" data-sort="votes" type="radio" />
                    <span>Most Popular</span>
                </label>
            </p>

        </form>
    </div>

</body>

</html>