<!DOCTYPE html>
<html>

<head>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->

  <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap" rel="stylesheet">
  <style>
    body {
      font-family: 'Source Code Pro', monospace;
      font-size: 24px;
    }
  </style>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var elems = document.querySelectorAll('.sidenav');
      var instances = M.Sidenav.init(elems);
    });
  </script>
</head>

<header>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a href="/" >
        <img class="memeit-logo" src="/images/iMemeit-logo.png" alt="Brand-Logo"></a>
        {{!-- <a href="/" class="brand-logo">iMemeit</a> --}}
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <!-- Button to open the modal login form -->

          {{#if loggedIn }}
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a id="logout" href="/"><i class="material-icons">exit_to_app</i></a></li>
          {{else}}
          <li><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>

  </div>
  <ul class="sidenav" id="mobile-demo">
    {{#if loggedIn }}
    <li><a href="/dashboard"><i class="material-icons">dashboard</i>Dashboard</a></li>
    <li><a id="logout" href="/"><i class="material-icons">exit_to_app</i>Logout</a></li>
    {{else}}
    <li><a href="/login">Login</a></li>
    {{/if}}
  </ul>

</header>

<body>
  {{{body}}}
</body>

<!--JavaScript at end of body for optimized loading-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{{!--
<script src="/javascript/image.js"></script> --}}
{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}



</html>