<section>
    <h2>Post a Meme</h2>

    <form class="new-post-form">
        <div>
            <label for="post-title">Title</label>
            <input type="text" id="post-title" name="post-title" />
        </div>


        {{!-- <div>
            <label for="img-url">
                <input id="img-url" name="img-url" type="radio" />
                <span>Upload URL</span>
            </label>

            <div>
                <label for="img-url">Image URL</label>
                <input type="text" id="img-url" name="img-url" type="radio" />
            </div>

            <div>
                <label for="img-url">
                    <input id="img-url" name="img-url" type="radio" />
                    <span>Upload file</span>
                </label>

            </div> --}}
            {{!-- <div>
                <label>Choose how to upload your meme</label>
                <select>
                    <option value="" disabled selected>Choose your option</option>
                    <option id="url" value="1">URL</option>
                    <option id="file" value="2">File</option>
                </select>
            </div> --}}

            <div class="input-field col s6">
                <input placeholder="Placeholder" id="url" type="text" class="validate">
                <label for="url">URL</label>
            </div>


            <label>Browser Select</label>
            <select id="drop-down" class="browser-default">
                <option value="" disabled selected>How do you want to upload</option>
                <option value="url">URL</option>
                <option value="file">File</option>
            </select>

            {{!-- Create a form input here for the user to input their URL and hide it when Upload file is checked --}}

            {{!-- ---------------------------- --}}

            {{!-- hide this choose file when Upload URL is clicked --}}
            <div>
                <label>
                    <input type="file" id="new-file" name="filename">
                </label>
            </div>


            <button id="image-submit" type="submit" class="btn">Post</button>
    </form>
</section>

{{#if posts.length}}
<section>
    <h2> Your Posts</h2>
    <ol>
        {{#each posts as |post|}}
        <li>
            {{> post-info post }}
            <a href="/dashboard/edit/{{post.id}}" class="waves-effect waves-light btn"><i
                    class="material-icons">edit</i></a>
            <a class="waves-effect waves-light btn"><i class="material-icons">keyboard_arrow_up</i></a>
        </li>
        {{/each}}
    </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>