{{!-- <div class="container">
    <div class="col l12 m8 s6 offset-s3"><span class="flow-text"></span>
        <div class="card col s6"> --}}
            {{> post-info post }}
            {{#if loggedIn }}
            <form class="comment-form">
                <div>
                    <textarea name="comment-body"></textarea>
                </div>

                <div>
                    <button type="submit">add comment</button>
                    <a class="waves-effect waves-light btn"><i
                            class="material-icons upvote-btn">keyboard_arrow_up</i></a>
                </div>
            </form>
            {{/if}}
            {{> comments post.comments }}
            {{!--
        </div>
    </div>
</div> --}}
{{#if loggedIn }}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}