<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">iMemeit</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        {{> post-info post }}

        {{#if loggedIn }}
        <form class="comment-form">
            <div>
                <textarea name="comment-body"></textarea>
            </div>

            <div>
                <button type="submit">add comment</button>
                <button type="button" class="small thumb_up upvote-btn">upvote</button>
            </div>
        </form>
        {{/if}}
        {{> comments post.comments }}
    </div>
</nav>
{{#if loggedIn }}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}