<div class="container">
    <div class="col l12 m8 s6 offset-s3"><span class="flow-text"></span>
        <div class="card col s6">
            {{> post-info post }}
            {{#if loggedIn }}
            <form class="comment-form">
                <div>
                    <textarea name="comment-body" class="comment_text_area" rows="5" cols="50"></textarea>
                </div>

                <div>
                    <button class="btn waves-effect waves-light" type="submit">add comment</button>

                </div>
            </form>
            {{/if}}
            <div class="comment_section">

                {{> comments post.comments }}
            </div>
        </div>
    </div>
    {{#if loggedIn }}
    <script src="/javascript/comment.js"></script>
    <script src="/javascript/upvote.js"></script>
    {{/if}}