body {
  background: skyblue;
}

.brand-logo {
  padding: 0 15px;
}
.container {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

ul {
  list-style-type: none;
}

/* li {
  margin: 10px;
} */
/* The Close Button */
.close {
  /* Position it in the top right corner outside of the modal */
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

/* Close button on hover */
.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

/* centering the text seperator */
.seperator {
  text-align: center;
}

.login {
  margin: 0 auto;
  max-width: 400px;
  width: 90%;
  height: 400px;
}

.card {
  padding: 20px;
}

/* adding padding to the nav */
.nav-wrapper {
  /* border-spacing: 2px; */
  background-color: #0574f9;
}
/* nav .brand-logo {
  padding: 0 15px;
} */
.post {
  background-color: white;
  width: auto;
  border-radius: 15px;
}

.post-content {
  align-content: center;
}

.post-list {
  list-style-type: none;
  border-radius: 25px;
}

.card_image {
  width: 500px;
  height: auto;
  margin: 0px 30px;
}

.meta {
  font-size: medium;
  padding-top: 15px;
  margin: 0px 30px;
}

.title {
  font-size: 30px;
  padding-bottom: 15px;
  margin: 0px 30px;
}
.item {
  display: flex;
  flex-wrap: wrap;
}

.comment_button {
  font-size: 20px;
}

.comment_text_area {
  padding: 20px;
  width: 20%;
  height: 100px;
  background-color: white;
  border-radius: 10px;
}

.comment-form {
  padding: 0 50px;
}
.comment_section {
  padding: 50px;
}
@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

@media only screen and (min-width: 601px) {
  .container-login {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container-login {
    width: 70%;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }
}
@media only screen and (min-width: 993px) {
  .container {
    width: 70%;
  }
}
